.Menubar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #455685;
    color: white;
    
  }
  
  h2 {
    font-size: 28px;
  }
  
  .menu-container {
    display: flex;
    align-items: center;
   
    
  }
  .active{
    color: red;
  }
  .menu-container li {
    margin-right: 20px;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    color: white;
    
   
  }
  .menu-container a{
    text-decoration: none;

  }
  
  
  .menu-container li:hover {
    color: #f6f60c;
  }
  
  button {
    background-color: rgb(125, 71, 234);
    border: 1px solid rgb(14, 4, 4);
    color: rgb(243, 233, 240);
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: rgb(246, 207, 14);
    color: #333;
  }
  @media only screen and (max-width: 600px) {
    .Menubar-container,.menu-container {
      flex-direction: column;
    }
    .
  }